{% extends 'base.html' %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h2>All Bookmarks</h2>
                    </div>
                    <div class="panel-body">
                    <div class="panel panel-danger">
                            {% for bookmark in object_list %}
                            <div class="panel-heading">
                                <h4>
                                    <a href="{% url 'bookmark_detail' bookmark.id %}">
                                        {{ bookmark.title}}
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h6> Created by:
                                    <a href="{% url 'user_bookmark_list' bookmark.author_id%}">
                                        {{ bookmark.author }}
                                    </a>
                                </h6>
                                <h6>
                                    <form action="{% url 'click' bookmark.id %}" method="post">
                                        {% csrf_token %}
                                        <a href="{{ bookmark.long_url }}">
                                            <input type="submit" value="{{ bookmark.short_url }}">
                                        </a>
                                    </form>
                                </h6>
                                <h6>{{ bookmark.description }}</h6>
                                <h6>clicks: {{ bookmark.click_count }}</h6>
                                <H6>{{ bookmark.short_url }}</H6>
                                <h6>
                                    {% if request.user == bookmark.author %}
                                        <button class="button-default">
                                            <a href="{% url 'bookmark_update' bookmark.id %}">
                                                Update Your Bookmark
                                            </a>
                                        </button>
                                        <button class="button-default">
                                            <a href="{% url 'bookmark_delete ' bookmark.id%}">
                                                Delete This Bookmark
                                            </a>
                                        </button>
                                    {% endif %}
                                </h6>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}